.post {
  border: 1px solid #ccc;
  margin: 15px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: 615px;
}

.posts-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  align-items: center; 
}

.post-details{
  border: 1px solid #ccc;
  margin: 16px;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.post-on-user-page{
  border: 1px solid #ccc;
  background-color: #fff;
  padding-bottom: 100%; 
  position: relative;
  overflow: hidden;
  justify-content: center; 
  align-items: center; 
  display: flex;
}

.post-on-user-page-img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  text-align: center;
}

.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 12px;
}

.username {
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

.post-image img {
  width: 600px;
  height: auto;
}

.post-actions {
  display: flex;
  margin-top: 12px;
}

.post-actions button {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 16px;
  font-weight: bold;
}

.post-caption {
  margin-top: 8px;
}

.caption-text {
  font-size: 14px;
}

.post-comments ul {
  list-style: none;
  padding: 0;
}

.post-comments li {
  margin-top: 8px;
}

.comment-text {
  font-size: 14px;
}

.post-location {
  font-size: 14px;
  color: #666
}

.post-timestamp {
  margin-top: 8px;
  color: #888;
}

body, h1, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafafa;
  font-family: Arial, sans-serif;
}

header {
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #e0e0e0;
}

.app-header {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  margin:auto
}

.app-header a {
  padding: 8px 25px;
}

.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 16px;
}

.username {
  font-size: 24px;
  font-weight: bold;
  color: #262626;
}

.bio {
  font-size: 16px;
  color: #666;
}

.user-posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  padding: 16px;
}

.post {
  position: relative;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.post img {
  max-width: 100%;
  height: auto;
  display: block;
}

.post-image-on-user-page {
  max-width: 100%;
  height: auto;
  display: flex
}

footer {
  background-color: #fff;
  padding: 16px;
  border-top: 1px solid #e0e0e0;
  text-align: center;
  font-size: 14px;
  color: #666;
}

.title {
  display: inline-block;
  background: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D);
  padding: 8px 16px;
  border-radius: 50px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.form-header {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.form-container {
  position: relative;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.form-input {
  font-weight: bold;
  text-decoration: none;
  color: #000;
  min-width: 300px; 
}

.form-prompt {
  font-size: 14px;
}

.button {
  display: inline-block;
  background-color: #405de6;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #3f4cd6;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.delete-button {
  background-color: #405de6;
  color: #ffffff; 
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: auto;
  margin-right: 15px
}

.delete-button:hover {
  background-color: #3f4cd6;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form {
  padding: 50px
}

.error-message {
  color: #666
}

.sticky-menu {
  position: relative;
  z-index: 1;
  width: 100%; 
  margin: 0; 
  padding: 0; 
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 2; 
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.edit-profile {
  padding: 15px
}

.conversation-list {
  padding: 20px;
}

.conversation-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.conversation-item a:hover{
  color: #405de6
}

.conversation-item img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.dm-container {
  max-width: 600px;
  margin: 0 auto;
  height: 600px;
  border: 1px solid #ccc; 
  overflow: hidden; 
  overflow-y: scroll; 
  position: relative; 
}

/* Style for the DM messages */
.dm-messages {
  position: absolute;
  width: 100%;
  padding: 10px; 
  /* overflow-y: scroll;  */
  box-sizing: border-box; 
}

.message {
  margin-bottom: 10px;
  padding: 5px;
  background-color: #f0f0f0; 
  border-radius: 5px; 
}

.message-input-container {
  display: flex;
  background-color: #fff;
  border-top: 1px solid #ddd;
  padding: 10px;
  align-items: center;
}

.message-input-field {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 14px;
  border-radius: 20px;
  margin-right: 10px;
}

.message-input-field::placeholder {
  color: #bbb;
}

.user-info-profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-info {
  font-weight: bold;
}

.message-content {
  padding: 5px;
  border-radius: 25px;
  display: inline-block;
  max-width: 70%; /* Adjust the maximum width as needed */
  word-wrap: break-word; /* Ensure long messages wrap to the next line */
}

.message-content-container{
  /* position:relative; */
  display: flex;
  justify-content: space-between; 
}

.sent-message {
  float:right;
  text-align: right;
  right: 0;
  background-color: #3897f0;
  color: #fff;
  padding: 5px;
  border-radius: 25px;
  display:block;
  max-width: 70%;
  word-wrap: break-word;
}

.received-message {
  margin-left: auto;
  position:absolute;
  left: 0;
  background-color: #e5e5ea;
  color: #000;
  text-align: left;
  word-wrap: break-word;
  left: 0;
  float: left;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

.dm-header-sent {
  justify-content: flex-end;
} 

.dm-header-received {
  justify-content: flex-start;
}

.dm-timestamp-received {
  margin-top: 8px;
  color: #888;
  text-align: left;
  padding-top:5px;
  /* display: inline-block; */
  padding-left: 5px;
}

.dm-timestamp-sent {
  margin-top: 8px;
  color: #888;
  text-align: right;
  padding-top:5px;
  display: inline-block;
  padding-right: 5px
}

.counts {
  display: flex;
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}

.count {
  text-align: center;
  padding: 25px;
  margin: auto;
}

.count-number {
  font-weight: bold;
  display: block;
  font-size: 18px;
}

.count-label {
  font-size: 12px;
  color: #777;
}

.heading {
  font-size: 18px;
  color: #777;
  padding: 10px;

}

.generated-name {
  background: linear-gradient(#C13584, #E1306C, #FD1D1D);
  width:fit-content;
  padding: 8px 16px;
  border-radius: 50px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.generator {
  position: relative;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 8px; 
  padding: 10px
}

.icon-container {
  position: relative;
  display: inline-block;
  cursor: pointer; 
}

.tooltip {
  position: absolute;
  background-color: #C13584 ; 
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}

.icon-container:hover .tooltip {
  opacity: 1;
}

.start-chat {
  padding:15px
}